@import "tailwindcss";

:root {
  font-family: Inter, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #F0F4F8;
  background-color: #060606;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 300;
  color: #F0F4F8;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: #F8F4E6;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 3.2em;
  line-height: 1.1;
}

button.btn {
  border-radius: 6.25em;
  border: 1px solid transparent;
  padding: 0.75em 1.5em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  background-color: #98D553;
  color: #131313;
}

button.btn:hover {
  background-color: #7EAF47;
  color: #131313;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
